# Question A:

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('5_a.csv')
df

         y     proba
0      1.0  0.637387
1      1.0  0.635165
2      1.0  0.766586
3      1.0  0.724564
4      1.0  0.889199
...    ...       ...
10095  1.0  0.665371
10096  1.0  0.607961
10097  1.0  0.777724
10098  1.0  0.846036
10099  1.0  0.679507

[10100 rows x 2 columns]

In [4]:
df.y.value_counts()

1.0    10000
0.0      100
Name: y, dtype: int64

In [5]:
df['proba'] = (df['proba'] >= 0.5).astype(int)
df.y = df.y.astype(int)
df

       y  proba
0      1      1
1      1      1
2      1      1
3      1      1
4      1      1
...   ..    ...
10095  1      1
10096  1      1
10097  1      1
10098  1      1
10099  1      1

[10100 rows x 2 columns]

In [6]:
TN = []
FN = []
FP = []
TP = []
for i in range(len(df['proba'])):
    if (df['y'][i] == 0 and df['proba'][i] ==0):
        TN.append('TN')
    elif df['y'][i] == 1 and df['proba'][i] == 0:
        FN.append('FN')
    elif (df['y'][i] == 0 and df['proba'][i] == 1):
        FP.append('FP')
    else:
        TP.append('TP')

TN = len(TN)
FN = len(FN)
FP = len(FP)
TP = len(TP)

print('TN values : ',TN)
print('FN values : ',FN)
print('FP values : ',FP)
print('TP values : ',TP)

TN values :  0
FN values :  0
FP values :  100
TP values :  10000

In [7]:
Precesion = TP / (TP + FP)
print(Precesion)

0.9900990099009901

In [8]:
Recall = TP / (TP + FN)
print(Recall)

1.0

In [9]:
F1 = (2 * Precesion * Recall) / (Precesion + Recall)
print(F1)

0.9950248756218906

In [10]:
cor_cls_pts = TN + TP
print(cor_cls_pts)

10000

In [11]:
total_pts = TN + FN + FP + TP
print(total_pts)

10100

In [12]:
acc_score = cor_cls_pts / total_pts
print(acc_score)

0.9900990099009901

In [13]:
df = pd.read_csv('5_a.csv')
df.sort_values("proba", ascending=False, inplace=True)

score = np.array(df['proba'])
y = np.array(df['y'])

FPR = []
TPR = []
thresholds = score

P = sum(y)
N = len(y) - P


for t in thresholds:
    FP=0
    TP=0
    for i in range(len(score)):
        if (score[i] >= t):
            if y[i] == 1:
                TP = TP + 1
            if y[i] == 0:
                FP = FP + 1
    FPR.append(FP/N)
    TPR.append(TP/P)
    
FPR_array = np.array(FPR)
TPR_array = np.array(TPR)

AUC_score = np.trapz(TPR_array, FPR_array)
print(AUC_score)

0.48829900000000004

# Question B:

In [14]:
df = pd.read_csv('5_b.csv')
df

         y     proba
0      0.0  0.281035
1      0.0  0.465152
2      0.0  0.352793
3      0.0  0.157818
4      0.0  0.276648
...    ...       ...
10095  0.0  0.474401
10096  0.0  0.128403
10097  0.0  0.499331
10098  0.0  0.157616
10099  0.0  0.296618

[10100 rows x 2 columns]

In [15]:
df.y.value_counts()

0.0    10000
1.0      100
Name: y, dtype: int64

In [16]:
df['proba'] = (df['proba'] >= 0.5).astype(int)
df.y = df.y.astype(int)
df

       y  proba
0      0      0
1      0      0
2      0      0
3      0      0
4      0      0
...   ..    ...
10095  0      0
10096  0      0
10097  0      0
10098  0      0
10099  0      0

[10100 rows x 2 columns]

In [17]:
TN = []
FN = []
FP = []
TP = []
for i in range(len(df['proba'])):
    if (df['y'][i] == 0 and df['proba'][i] ==0):
        TN.append('TN')
    elif df['y'][i] == 1 and df['proba'][i] == 0:
        FN.append('FN')
    elif (df['y'][i] == 0 and df['proba'][i] == 1):
        FP.append('FP')
    else:
        TP.append('TP')

TN = len(TN)
FN = len(FN)
FP = len(FP)
TP = len(TP)

print('TN values : ',TN)
print('FN values : ',FN)
print('FP values : ',FP)
print('TP values : ',TP)

TN values :  9761
FN values :  45
FP values :  239
TP values :  55

In [18]:
Precesion = TP / (TP + FP)
print(Precesion)

0.1870748299319728

In [19]:
Recall = TP / (TP + FN)
print(Recall)

0.55

In [20]:
F1 = (2 * Precesion * Recall) / (Precesion + Recall)
print(F1)

0.2791878172588833

In [21]:
cor_cls_pts = TN + TP
print(cor_cls_pts)

9816

In [22]:
total_pts = TN + FN + FP + TP
print(total_pts)

10100

In [23]:
acc_score = cor_cls_pts / total_pts
print(acc_score)

0.9718811881188119

In [24]:
df = pd.read_csv('5_b.csv')
df.sort_values("proba", ascending=False, inplace=True)
score = np.array(df['proba'])
y = np.array(df['y'])

FPR = []
TPR = []
thresholds = score

P = sum(y)
N = len(y) - P


for t in thresholds:
    FP=0
    TP=0
    for i in range(len(score)):
        if (score[i] >= t):
            if y[i] == 1:
                TP = TP + 1
            if y[i] == 0:
                FP = FP + 1
    FPR.append(FP/N)
    TPR.append(TP/P)

FPR_array = np.array(FPR)
TPR_array = np.array(TPR)

AUC_score = np.trapz(TPR_array, FPR_array)
print(AUC_score)

0.9377570000000001

# Question C:

In [25]:
df = pd.read_csv('5_c.csv')
df

      y      prob
0     0  0.458521
1     0  0.505037
2     0  0.418652
3     0  0.412057
4     0  0.375579
...  ..       ...
2847  1  0.491663
2848  1  0.292109
2849  1  0.659161
2850  1  0.456265
2851  1  0.659161

[2852 rows x 2 columns]

In [26]:
df.y.value_counts()

0    1805
1    1047
Name: y, dtype: int64

In [27]:
df['prob'].unique()
df['prob']

0       0.458521
1       0.505037
2       0.418652
3       0.412057
4       0.375579
          ...
2847    0.491663
2848    0.292109
2849    0.659161
2850    0.456265
2851    0.659161
Name: prob, Length: 2852, dtype: float64

In [28]:
df.sort_values("prob", ascending=False, inplace=True)

score = np.array(df['prob'])
y = np.array(df['y'])

A = []


thresholds = np.array([1.0, 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1, 0.0])


for t in thresholds:
    FP=0
    FN=0
    TN=0
    TP=0
    for i in range(len(score)):
        if (score[i] < t):
            score[i] == 0
            if y[i] == 0:
                TN += 1
            if y[i] == 1:
                FN += 1
        else:
            score[i] == 1
            if y[i] == 0:
                FP += 1
            if y[i] == 1:
                TP += 1
            
    a = ((500*FN) + (100*FP))
    A.append([a,t])

print(min(A))

[147200, 0.2]

# Question D:

In [29]:
df = pd.read_csv('5_d.csv')
df

            y   pred
0       101.0  100.0
1       120.0  100.0
2       131.0  113.0
3       164.0  125.0
4       154.0  152.0
...       ...    ...
157195   87.0   83.0
157196   97.0   86.0
157197  106.0   93.0
157198  105.0  101.0
157199   81.0  104.0

[157200 rows x 2 columns]

In [30]:
pred = np.array(df['pred'])
y = np.array(df['y'])

In [31]:
mse = np.square(np.subtract(y, pred)).mean()
print(mse)

177.16569974554707

In [32]:
e_sum = np.sum(abs(np.subtract(pred, y)))
y_sum = np.sum(y)
MAPE = (e_sum / y_sum) * 100
MAPE

12.91202994009687

In [33]:
y_bar = np.mean(df['y'])
ss_tot = np.sum(np.square(np.subtract(y, y_bar)))
ss_res = np.sum(np.square(np.subtract(y, pred)))
r_sq = 1 - (ss_res / ss_tot)
r_sq

0.9563582786990937